@import '../../../sass/vars'

.small-card-container
  overflow-x: auto
  overflow-y: hidden
  &::-webkit-scrollbar-thumb
    background-color: lighten($dark-color,20%)

.battlerite-card.small-card
  font-size: 14.5px
  cursor: pointer
  .battlerite-skill
    top: 17%
    .battle-skill-container
      width: 38%
  &:hover
    transform: scale(1.3)

