.battlerite-card {
  width: 100%;
  max-width: 250px;
  transition: 0.1s;
  position: relative;
  min-height: 315px !important; }
  .battlerite-card:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../images/battlerite-card.png); }
  .battlerite-card:hover {
    transform: scale(1.2); }
  .battlerite-card[data-card-type="mixed"] .battlerite-type {
    color: #f5f5f5; }
  .battlerite-card[data-card-type="mixed"] .battle-skill-container:before {
    box-shadow: 0 0 5px 6px #f5f5f5; }
  .battlerite-card[data-card-type="survival"] .battlerite-type {
    color: #99ff33; }
  .battlerite-card[data-card-type="survival"] .battle-skill-container:before {
    box-shadow: 0 0 5px 6px #99ff33; }
  .battlerite-card[data-card-type="support"] .battlerite-type {
    color: #00ffff; }
  .battlerite-card[data-card-type="support"] .battle-skill-container:before {
    box-shadow: 0 0 5px 6px #00ffff; }
  .battlerite-card[data-card-type="control"] .battlerite-type {
    color: #ff66cc; }
  .battlerite-card[data-card-type="control"] .battle-skill-container:before {
    box-shadow: 0 0 5px 6px #ff66cc; }
  .battlerite-card[data-card-type="mobility"] .battlerite-type {
    color: #ffcc00; }
  .battlerite-card[data-card-type="mobility"] .battle-skill-container:before {
    box-shadow: 0 0 5px 6px #ffcc00; }
  .battlerite-card[data-card-type="offense"] .battlerite-type {
    color: #ff3333; }
  .battlerite-card[data-card-type="offense"] .battle-skill-container:before {
    box-shadow: 0 0 5px 6px #ff3333; }
  .battlerite-card[data-card-type="utility"] .battlerite-type {
    color: #0099ff; }
  .battlerite-card[data-card-type="utility"] .battle-skill-container:before {
    box-shadow: 0 0 5px 6px #0099ff; }
  .battlerite-card .battlerite-title {
    text-transform: uppercase;
    position: absolute;
    font-weight: 600;
    top: 0.5%;
    right: 0;
    left: 0;
    text-align: center; }
  .battlerite-card .battlerite-hotkey {
    position: absolute;
    top: 11%;
    right: 0;
    left: 0;
    width: 22%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3fdfd;
    color: #222222;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    margin: auto; }
  .battlerite-card .battlerite-type {
    text-transform: uppercase;
    position: absolute;
    font-weight: 600;
    top: 51.5%;
    right: 0;
    left: 0;
    font-size: 0.9em;
    text-align: center; }
  .battlerite-card .battlerite-description {
    text-transform: capitalize;
    position: absolute;
    top: 60%;
    right: 0;
    left: 0;
    font-size: 0.85em;
    text-align: center;
    width: 70%;
    margin: auto;
    line-height: 1.4;
    overflow: hidden; }
  .battlerite-card .battlerite-skill {
    position: absolute;
    top: 16%;
    width: 100%;
    margin: auto;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center; }
    .battlerite-card .battlerite-skill .battle-skill-container {
      position: relative;
      width: 34%; }
      .battlerite-card .battlerite-skill .battle-skill-container .battlerite-skill-image {
        position: absolute;
        left: 5px;
        right: 0;
        top: 5px;
        bottom: 0;
        width: 89%; }
      .battlerite-card .battlerite-skill .battle-skill-container:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        min-height: 96.64px;
        background-image: url(../../../images/Ability_Border_Black.png);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 100px; }

/*# sourceMappingURL=battlerites.css.map */
